[BaseOS_repo_http]
name=RHEL_9.2_x86_64_HTTP BaseOS
baseurl="http://192.168.124.164/rhel-9.2/BaseOS"
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

[AppStream_repo_http]
name=RHEL_9.2_x86_64_HTTP AppStream
baseurl="http://192.168.124.164/rhel-9.2/AppStream"
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

