$TTL 86400
@ IN SOA dns-primary.linuxlab.lan. admin.linuxlab.lan. (
    2019061800 ;Serial
    3600 ;Refresh
    1800 ;Retry
    604800 ;Expire
    86400 ;Minimum TTL
)
;Name Server Information
@ IN NS dns-primary.linuxlab.lan.

;Reverse lookup for Name Server
200 IN PTR dns-primary.linuxlab.lan.

